<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1> {{ title }}! </h1>
</div>

<div style="text-align:center">
  <h3><strong>Pick your Framework.</strong></h3>

</div>

<div class="topRow">
  <div>
    <img width="300px" height="300px" alt="Angular Logo" src="https://angular.io/assets/images/logos/angular/angular.png">
    <div style="text-align: center">Angular</div>
  </div>
  <div>
    <img height="300px" alt="React Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2000px-React-icon.svg.png">
    <div style="text-align: center">React</div>
  </div>
  <div>
    <img width="300px" height="300px" alt="Vue Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Vue.js_Logo.svg/2000px-Vue.js_Logo.svg.png">
    <div style="text-align: center">Vue</div>
  </div>  
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

